*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
}

#hero{
    padding: 2rem 6rem;
    width: 100%;
    height: 100vh;
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-size: cover;
}

nav{
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    font-weight: 300;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

#logo{
    height: 40px;
}

#signup-btn{
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.hero-texts{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.hero-texts h1{
    font-size: 5rem;
    font-weight: 900;
}